$font-family-dm: "DM Sans", sans-serif;

$color-white: #ffffff;
$color-white-2: #fffbfb;
$ccolor-gray: #f4f5f9;
$color-purple: #713bdb;
$color-text: #a2a4b9;
$color-text-2: #888cb7;
$color-black: #000000;
$color-black-2: #42474a;

$linear-gradient-1: linear-gradient(90deg, #33d69f 0%, #50edb8 111.47%);
$linear-gradient-2: linear-gradient(90deg, #713bdb 0%, #a886e9 111.47%);

$box-shadow-navbar: 3px 5px 15px rgba(0, 0, 0, 0.1);
$box-shadow-sidebar: 10px 3px 15px rgba(0, 0, 0, 0.05);
$box-shadow-card: 3px 3px 4px rgba(0, 0, 0, 0.06);
$box-shadow-button: inset 0px 4px 4px rgba(0, 0, 0, 0.12);
